<div class="form-item">
    <label>From </label>
    {{ data.header_from }}
</div>

<div class="form-item">
    <label>To </label> 
    {{ data.header_to }}
</div>

<div class="form-item">
    <label>Reply to  </label> 
    {{ data.header_reply_to }}
</div>

<div class="form-item">
    <label>All  </label> 
        <span style="font-family: monospace,monospace;font-size: 1em;margin: 0.5em 0;
        display:block;">
            {% for key,app in header_all %}
        	{{ key }}:
        	{{ app }}  
            </br>	
        {% endfor %}
    </span>
</div>

<div class="form-item">
    <label>Body  </label> 
    <span style="font-family: monospace,monospace;font-size: 1em;margin: 0.5em 0;
        display:block;">
        {{ body | nl2br }}
    </span>
</div>